html, body, #root {
  height: 100%; /* HTML, Body, 그리고 React 앱의 root div가 전체 화면 높이를 차지하도록 */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 패딩과 보더가 너비/높이에 포함되도록 */
}

#root {
  display: flex;
  flex-direction: column; /* 자식 요소들을 세로로 정렬 */
  min-height: 100vh; /* 뷰포트 전체 높이를 최소한으로 차지하도록 */
  overflow-y: auto;
} 
